body {
	 background: black;
}

.presents {
  position: absolute;
  font-family: 'Bangers', cursive;
  font-size: 72px;
  margin-left: 370px;
  display: none;
  top: 290px;
}

.jquery-logo {
  background-image: url('../images/jQuery.png');
  display: none;
  position: absolute;
  width: 500px;
  height: 172px;
  top: 220px;
  margin-left: 370px;
}

.sf-logo {
  background-image: url('../images/streetFighter.png');
  position: absolute;
  width: 682px;
  height: 314px;
  margin-left: 320px;
  top: 250px;
  z-index: 11;
  display:none;
}

.instructions {
  position: absolute;
  font-family: 'Bangers', cursive;
  font-size: 30px;
  top: 160px;
  margin-left: 585px;
  display: none;
}

.instructions p {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 50px;

}
.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.ryu {
  float: left;
  z-index: 3;
  height: 494px;
  width: 659px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool, .ryu-still {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .sf-logo, .jquery-logo {
  background-repeat: no-repeat;
}

.dojo {
 background-image: url('../images/dojo.png');
 width: 1500px;
 height: 500px;
 z-index: 1;
 display: none;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: relative;
  top: 167px;
  left: -212px;
  z-index: 1;
} 
